@Model App6.Models.Todo
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">userId</th>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">completed</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td>@Model.userId</td>
      <td>@Model.id</td>
      <td>@Model.title</td>
      <td>@Model.completed</td>
    </tr>   
  </tbody>
</table>

@ViewBag.BuildTime